* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
  }

:root {
    --font: monospace;
    --background-color: #233554;
    --color: #ccd6f6;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --primary-color: #8892b0;
    --secondary-color: #64ffda;
}

html {
    background-color: var(--background-color);
}

header { 
    background-color: var(--background-color);
    color: var(--color);
    padding: 60px;
    margin: 0px; 
}

header h1 {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: var(--bold-font);
    padding-top: 5px;
    font-size: 50px;
    margin-bottom: 10px
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 30px
}

nav ul li {
    color: var(--color);
    display: inline-block;
}

nav ul li a:link {
    color: var(--color)
}

nav ul li a:visited{
color: var(--color);
}

nav ul li a:hover {
    color: var(--secondary-color);
}

#skills-list{
    color: var(--primary-color);
    list-style-type: circle;
    line-height: 200%;
}

body {
    font-family: var(--font);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.title {
    color: var(--color);
    font-size: 24px;
    border-right: 5px;
    border-right-style: solid;
    border-right-color: var(--secondary-color);
    width: 20%;
    padding-top: 20px;
    padding-right: 20px;
    text-align: right;
}

.content-boxes {
    width: 80%;
    padding: 20px;
    padding-bottom: 10px;
}

#about-me-img{
    height: 80%;
    width: 50%;
    object-fit: contain;
    display: inline-block;
}

p {
    line-height: 200%;
    color: var(--primary-color);
    width: 40%;
    display: inline-block;
}

/* #about-me-div {
    float: right;
} */

.img {
    display: flex;
    position: relative;
    height: 80%;
    width: 80%;
    object-fit: contain;
    margin: 20px;
}

.sub-project{
    display: inline;
}
.small-img{
    display: inline;
    height: 37%;
    width: 37%;
    object-fit: contain;
    margin: 20px;
}

.cm-links {
    list-style-type: circle;
    line-height: 200%;
    margin-left: 20px
}
.cm-links a:hover{
    color: var(--secondary-color);
}
.cm-links a:visited {
color: var(--color)
}

#email-link {
    color: var(--color)
}




@media screen and (max-width: 600px) {
    .column {
        flex-direction: row;
        width: 100%;
    }
    .titles {
        border-right: none;
        border-bottom: 5px;
        border-bottom-style: solid;
        border-bottom-color: var(--secondary-color);
    }
  }



